<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LenaProject.Properties.Settings.formConnectionString"
            connectionString="Data Source=DESKTOP-6VUJ8QA\SQLEXPRESS;Initial Catalog=form;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>